[submodule "public"]
	path = public
	url = https://github.com/hieutle2011/hieutle2011.github.io.git
	branch = master
[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
